*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    width: 1140px;
    margin: 0 auto;

}

.promo {

    height: 800px;
    background: url('../img/bg/main_bg.png') center center / cover no-repeat;
}

.logo .logo_img {
    display: block;   
    margin: 0 auto;
}
.logo .logo_text {
    color: #ffffff;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;                      /* строчній интервал*/
    text-transform: uppercase;
    text-align: center;
}




