* {
    font-family: 'roboto', sans-serif;
}  
nav {
    height: 50px;
    background: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;             /* выравнять по вертикали */
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
   }

.menu .menu_item {                            /* разделители */
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {                               /*  логотип */
    height: 84px;
    background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo { 
    display: block;                  /*  если ширина лого поменяется размер будет занимать 100 проц */
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
}
.subheader .subheader_call {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    margin-top: 23px;
    text-align: right;
}

.subheader .subheader_phone {              /*  ссылка на телефон
    display: block; */
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400px;   
    text-transform: uppercase;   
    text-align: right;
    line-height: 12px;

}
.subheader .subheader_btn {                    /*  кнопка заказатьзвонок */
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    color: #FFFFFF;
    font-size: 14px;
      
}