* {
    font-family: 'roboto', sans-serif;
}  
header {
    height: 50px;
    background: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;             /* выравнять по вертикали */
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
   }
