* {
    font-family: 'roboto', sans-serif;
}  
header {
    height: 50px;
    background: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;             /* выравнять по вертикали */
    padding: 10px 70px;
    margin: 0;
    list-style-type: none;
}

