/* СЕЛЕКТОР { */
/*     свойство:  значение; */
/*     свойство:  значение;  */
/*     свойство:  значение; */
/* } */
h1 {
    text-align:center;

}


h2{ 
    color:rgb(26, 139, 139);                  /* вет всех загаловков h2 */
    font-size:20px;                                     /* размер всех заголовков h2 */
                                    /* поставить заголовок по центру,слева справа          */    
    font-weight: 900 ;                                  /* жирность текста ''-цифрами-''*//*  */                           
    font-style: italic;                                 /* стиль текста   */      
    text-decoration: underline;                        /* все заголовки стали подчеркнуты */
    /* text-decoration:line-through; */                         /* все заголовки стали зачеркнуты */  
    font-size:30px;                                       /*размер загаловков в пикселя*/
    text-align:justify;
}

h3 {
    text-align:justify;
}

/* .text { */
/*      */
/*     font-weight: 900 ;         */                          /* выделить определенные слова в тексте <span class="text">Oh dear ! Oh dear !</span> */
/*     text-transform: uppercase; */                          /*выделеные слова каждая буква большая*/
/* } */

.chapter {                                                  /* меняет цвет заголовка только один/выбраный отдельно */
    color:rgb(143, 35, 35);                         /* делаем цвет полупрозрачный */
    outline-color:blueviolet
}

#begin {                                                  /* селектор по уникальному идентификатору */
    color:rgb(146, 152, 172);
    font-weight: bold ;                                 /* жирность текста-словами-' *//*  */
}

.wrapper {
    width: 620px;
    height: 110px;
    margin: 5px;
    padding: 10px;
    border: 6px solid rgb(28, 207, 201);
  
}
/* .box{ */
/*     text-transform: uppercase; */
/*  */
/* } */
/*  */
  

/* <!DOCTYPE html> */
/* <html> */
/* <body> */
/*  */
/* <h1>The map and area elements</h1> */
/*  */
/* <p>Click on the computer, the phone, or the cup of coffee to go to a new page and read more about the topic:</p> */
/*  */
/* <img src="workplace.jpg" alt="Workplace" usemap="#workmap" width="400" height="379"> */
/*  */
/* <map name="workmap"> */
/*   <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm"> */
/*   <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm"> */
/*   <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="coffee.htm"> */
/* </map> */
/*  */
/* </body> */
/* </html> */
/*  */
/*  */
/*  */














    










