/* СЕЛЕКТОР { */
/*     свойство:  значение; */
/*     свойство:  значение;  */
/*     свойство:  значение; */
/* } */

*{                                                                      /* селектор всего что происходит на странице */
    box-sizing: border-box;
}
h1,h2,h3 {
    text-align:center;
}


h2{ 
    color:rgb(26, 139, 139);                  /* вет всех загаловков h2 */
    font-size:20px;                                     /* размер всех заголовков h2 */
                                    /* поставить заголовок по центру,слева справа          */    
    font-weight: 900 ;                                  /* жирность текста ''-цифрами-''*//*  */                           
    font-style: italic;                                 /* стиль текста   */      
    text-decoration: underline;                        /* все заголовки стали подчеркнуты */
    /* text-decoration:line-through; */                         /* все заголовки стали зачеркнуты */  
    font-size:30px;                                       /*размер загаловков в пикселя*/
    text-align:center;
}

h3 {
    text-align:center;
}

/* .text { */
/*      */
/*     font-weight: 900 ;         */                          /* выделить определенные слова в тексте <span class="text">Oh dear ! Oh dear !</span> */
/*     text-transform: uppercase; */                          /*выделеные слова каждая буква большая*/
/* } */

.chapter {                                                  /* меняет цвет заголовка только один/выбраный отдельно */
    color:rgb(143, 35, 35);                         /* делаем цвет полупрозрачный */
    outline-color:blueviolet
}

#begin {                                                  /* селектор по уникальному идентификатору */
    color:rgb(146, 152, 172);
    font-weight: bold ;                                 /* жирность текста-словами-' *//*  */
}


/* блочная модель CSS */

.box {
    
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: green; 
    padding: 20px; 

    /* border-width: 3px; */                           /*  линии сокруг квадрата сверху снизу справа слева */
    /* border-style: solid; */
    /* border-color:black;  */ 
    border: 3px solid black;                          /* комбинация настроек для /линий/-solid-dashet- пунктир вокруг квадрата */
    margin: 20px

}
.pink {
    color: blueviolet;
    font-size: 30px;
}

a {
    padding: 20px;
    margin: 20px;
    width: 500px;
}
img {
    display: block;                                     /* выравнивание картинки по горизонтали*/
    margin: 0 auto;                                 /* выравнивание только по ГОРИЗОНТАЛИ    картинки по центру*/
    width: 500px;
}




/* Блочные елементы*/
/* Строчные елементы нужны для наполнения сайта */
/* Строчно-Блочные  КОМБИНАЦЫЯ блочных и строчных елементов- взяли все самое лучшее из блочных и строчных елементов и обьеденили их*/

/* симатический тег который отображает навигационное меню на нашем сайте */
/* nav {  распол любой елем в люб месте на странице  */
/*  */
nav {                                   
/* static. relative position    *//*  */
    position: relative;                                         /* расположить  елемент в определенном месте на странице */
    left: 0px;                                                 /* наше меню ушло на 30 пыкселей в право*/
    bottom: 50px;                                              /* сдвинуть наш елемент в верх */
    /* top: 150px;                                                 сдвинуть наш елемент в низ  */
/* bottom, top. right. left*/
}
































    










